.weeklyNav {
    display: flex;
    justify-content: space-around;
}
button {
    height: 30px;
    width: 120px;
    color: white;
    background-color: darkolivegreen;
    border: 2px black solid;
    border-radius: 5px;
    font-size: 16px;
}