nav {
    border-top: 2px black solid;
    border-bottom: 2px black solid;

    display: flex;
    justify-content: center;

    top: 0;
    width: 100%;
    position: fixed;
}

a {
    margin: 5px;
    padding: 5px 10px;
}