.day {
    // Debug border
    border: red 1px dashed;

    width: 100%;
}

.dayHeader {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 5px;
    margin: auto 0 auto auto;
    border-radius: 5px;
    border: 2px black solid;
    background-color: lightgreen;
}