.entry {
    // Debug
    border: 1px green inset;

    display: flex;
    flex-direction: column;
}

.header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.header:hover {
    background-color: #eee;
    border-bottom: 1px black solid;
    padding-bottom: 4px;    //Cut the difference with border-bottom
}

.title {
    cursor: pointer;
}

.description {
    padding: 5px;
}